* {
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    background: #fafafa;
    text-align: center;
}
p {
    padding: 0 30px;
    line-height: 1.5;
}

header {
    padding: 10px;
    margin: 10px;
}

li {
    list-style-type: none;
    background: #ffffff;
}

.nav-bar li {
    margin: 10px;
    padding: 10px;
    text-transform: uppercase;
}
main {
    background: #ffffff;
    padding: 10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.09);
}



a {
    text-decoration: none;
    color: tomato;
}
a:hover{
    color: lavender;
}
a:link {
    color: turquoise;
}
img {
    width: 80%;
    margin: 20px 10px 20px 10%;
}
#portfolio {
    text-transform: uppercase;
}

.back {
    float: right;
    text-transform: uppercase;
}
.name {
    float: left;
}
.footer-nav {
    display: none;
}
footer {
    font-family: 'Mukta', sans-serif;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }



  @media (min-width:768px){
      header {
          padding: 40px 20px;
      }
      .nav-bar li{
          display: inline-block;
      }
      .profile-image {
          float: right;
          max-width: 40%;
          margin: 0;
      }

      .profile-description {
          float: left;
          max-width: 50%;
          text-align: left;
      }

      section{
          width:46%;
          float: left;
          padding: 10px 0;
      }
      .back {
          display: none;
      }
      .name {
          float: left;
      }
      .footer-nav {
          display: block;
          float: right;
      }
      .footer-nav li {
          padding: 0 10px;
          margin: 0;
          background-color: inherit;
      }

  }

  @media (min-width:1024px){
      .wrap{
        max-width:1200px;
        margin: auto;
      }
      h1{
          float: left;
      }
      nav {
          float: right;
      }
      .profile-image{
          clear: both;
      }
      section {
          width: 33.33%;
      }
  }